.loaderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: auto;
  margin: 2rem;

  font-family: "Outfit", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  user-select: none;
  color: #140e08;

  scale: 1.2;
}

@media (min-width: 768px) {
  .loaderWrapper {
    scale: 1.5;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  background-color: transparent;
  mask: repeating-linear-gradient(90deg,
      transparent 0,
      transparent 6px,
      black 6px,
      black 9px);
  -webkit-mask: repeating-linear-gradient(90deg,
      transparent 0,
      transparent 6px,
      black 6px,
      black 9px);
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(circle at 50% 50%, #ff0 0%, transparent 50%),
    radial-gradient(circle at 45% 45%, #f00 0%, transparent 45%),
    radial-gradient(circle at 55% 55%, #0ff 0%, transparent 45%),
    radial-gradient(circle at 45% 55%, #0f0 0%, transparent 45%),
    radial-gradient(circle at 55% 45%, #00f 0%, transparent 45%);

  mask: radial-gradient(circle at 50% 50%,
      transparent 0%,
      transparent 10%,
      black 25%);
  -webkit-mask: radial-gradient(circle at 50% 50%,
      transparent 0%,
      transparent 10%,
      black 25%);

  animation:
    transformAnimation 2s infinite alternate,
    opacityAnimation 4s infinite;
  animation-timing-function: cubic-bezier(0.6, 0.8, 0.5, 1);
}

@keyframes transformAnimation {
  0% {
    transform: translate(-55%);
  }

  100% {
    transform: translate(55%);
  }
}

@keyframes opacityAnimation {

  0%,
  100% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  65% {
    opacity: 0;
  }
}

.loaderLetter {
  display: inline-block;
  opacity: 0;
  animation: loaderLetterAnim 4s infinite linear;
  color: white;
  z-index: 20;
  white-space: pre;
}

@keyframes loaderLetterAnim {
  0% {
    filter: blur(0px);
    opacity: 0;
  }

  5% {
    opacity: 1;
    text-shadow: 0 0 4px #ffffff;
    filter: blur(0px);
    transform: scale(1.1) translateY(-2px);
  }

  20% {
    opacity: 1;
    filter: blur(0px);
  }

  80% {
    opacity: 0.2;
  }

  100% {
    filter: blur(5px);
    opacity: 0;
  }
}